@import "~antd/dist/antd.css";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px
}

.errorMessage {
  background: red;
  color: #fff;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 4px;
}

.imageWrapper {
  overflow: hidden;
  height: 300px;
}

.hairColor {
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 4px;
}

.personWrapper {
  display:flex;
  flex-flow: row wrap;
  font-size: 1.3em;
}

.personWrapper div:nth-child(2) {
  padding: 20px;
}

.responsiveImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.ant-list-pagination {
margin-bottom: 24px;
}

